/* Global CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

/* Changes by Class */
.dropdown-item {
    cursor: pointer;
}

.carousel-item img {
    max-height: 400px;
    object-fit: cover;
}

/* Changes by ID */
#dropdownMenuAccount {
    left: -5rem;
}


